*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    --background-color: #{$white}
    --primarytext-color: #{$black}
    --secondarytext-color: #{$blueGrey}
    --toggle-background-color: #{$white}
    --contact-shadow: #{0px 15px 100px -40px rgba(0,0,0,0.3)}
    --submit-shadow: #{0 15px 30px rgba(0, 0, 0, 0.1)}

    --cricle-toggle-position: -90%

    transition: ease-in-out 0.2s
    background: var(--background-color)
    font-size: 18px
    height: 100%

body.dark
    --background-color: #{$black}
    --primarytext-color: #{$white}
    --secondarytext-color: #{$blueGrey}
    --toggle-background-color: #{$blueGrey}
    --contact-shadow: #{0px 15px 100px -40px rgba(255,255,255,0.3)}
    --submit-shadow: #{0 15px 30px rgba(255,255,255, 0.15)}

    --cricle-toggle-position: 100%

    transition: ease-in-out 0.2s
    background: var(--background-color)
    height: 100%

body.huddle
    --background-color: #{#00252e}
    --primarytext-color: #{$white}

    transition: ease-in-out 0.2s
    background: var(--background-color)

body.axio
    --background-color: #{#F93822}
    --primarytext-color: #{$white}
    --secondarytext-color: #{$white}

    transition: ease-in-out 0.3s
    background: var(--background-color)

body.kevin
    --primarytext-color: #{$white}
    --secondarytext-color: #{$white}

    transition: ease-in-out 0.3s
