/* Primary */
/* Secondary */
@font-face {
  font-family: "cerebri_sans_pro_boldbold";
  src: url("../fonts/cerebrisanspro-bold-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cerebri_sans_proextrabold";
  src: url("../fonts/cerebrisanspro-extrabold-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cerebri_sans_pro_italicitalic";
  src: url("../fonts/cerebrisanspro-italic-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cerebri_sans_promedium";
  src: url("../fonts/cerebrisanspro-medium-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cerebri_sans_proregular";
  src: url("../fonts/cerebrisanspro-regular-webfont.woff2") format("woff2"), url("../fonts/cerebrisanspro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "butlerblack";
  src: url("../fonts/butler_black-webfont.woff2") format("woff2"), url("../fonts/butler_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "butlerbold";
  src: url("../fonts/butler_bold-webfont.woff2") format("woff2"), url("../fonts/butler_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "butlerextrabold";
  src: url("../fonts/butler_extrabold-webfont.woff2") format("woff2"), url("../fonts/butler_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "butlermedium";
  src: url("../fonts/butler_medium-webfont.woff2") format("woff2"), url("../fonts/butler_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "butlerblack";
}

p, a {
  font-family: "cerebri_sans_proregular";
  line-height: 1.5;
}

header p, a {
  font-family: "cerebri_sans_promedium";
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: #9192A4;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
a:hover {
  color: #000000;
}

quote {
  font-family: "cerebri_sans_pro_italicitalic";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background-color: #ffffff;
  --primarytext-color: #000000;
  --secondarytext-color: #9192A4;
  --toggle-background-color: #ffffff;
  --contact-shadow: 0px 15px 100px -40px rgba(0, 0, 0, 0.3);
  --submit-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  --cricle-toggle-position: -90%;
  transition: ease-in-out 0.2s;
  background: var(--background-color);
  font-size: 18px;
  height: 100%;
}

body.dark {
  --background-color: #000000;
  --primarytext-color: #ffffff;
  --secondarytext-color: #9192A4;
  --toggle-background-color: #9192A4;
  --contact-shadow: 0px 15px 100px -40px rgba(255, 255, 255, 0.3);
  --submit-shadow: 0 15px 30px rgba(255, 255, 255, 0.15);
  --cricle-toggle-position: 100%;
  transition: ease-in-out 0.2s;
  background: var(--background-color);
  height: 100%;
}

body.huddle {
  --background-color: #00252e;
  --primarytext-color: #ffffff;
  transition: ease-in-out 0.2s;
  background: var(--background-color);
}

body.axio {
  --background-color: #F93822;
  --primarytext-color: #ffffff;
  --secondarytext-color: #ffffff;
  transition: ease-in-out 0.3s;
  background: var(--background-color);
}

body.kevin {
  --primarytext-color: #ffffff;
  --secondarytext-color: #ffffff;
  transition: ease-in-out 0.3s;
}

header {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}
header .nav {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: baseline;
  width: 100%;
}
header .nav nav {
  display: flex;
  justify-content: space-between;
  max-width: 25rem;
}
header .nav nav .active {
  color: var(--primarytext-color);
}
header .nav a, header .nav p {
  text-decoration: none;
  color: var(--secondarytext-color);
  letter-spacing: 2px;
}
header .nav a {
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
header .nav a:hover {
  color: var(--primarytext-color);
}
header .nav .social-icons-nav {
  display: none;
}
header .nav .social-icons-nav a {
  color: none;
}
header .nav .social-icons-nav a:hover {
  color: none;
}
@media screen and (max-width: 1024px) {
  header .nav .social-icons-nav {
    display: flex;
    align-items: center;
    align-self: end;
    justify-self: end;
    grid-row-start: 2;
  }
  header .nav .social-icons-nav .linkedin {
    width: 2.5rem;
    height: 2.5rem;
  }
  header .nav .social-icons-nav .linkedin #linkedin {
    fill: #9192A4;
  }
  header .nav .social-icons-nav .linkedin:hover #linkedin {
    fill: url("#iconHover");
  }
  header .nav .social-icons-nav .github {
    width: 1.3rem;
    height: 1.3rem;
  }
  header .nav .social-icons-nav .github path {
    fill: #9192A4;
  }
  header .nav .social-icons-nav .github:hover path {
    fill: url("#iconHover");
  }
  header .nav .social-icons-nav .stackoverflow {
    fill: #9192A4;
    width: 1.3rem;
    height: 1.5rem;
  }
  header .nav .social-icons-nav .stackoverflow:hover {
    fill: url("#iconHover");
  }
  header .nav .social-icons-nav a:nth-child(2) {
    margin: 0 1rem 0 0.5rem;
  }
}
header .nav .end-nav {
  display: flex;
  align-items: baseline;
  justify-self: end;
}
header .nav .end-nav .theme-toggle {
  display: flex;
  align-items: center;
  justify-self: end;
}
header .nav .end-nav .theme-toggle p {
  margin: 0 10px;
}
header .nav .end-nav .theme-toggle p:first-child {
  margin-right: 20px;
}
header .nav .end-nav .theme-toggle p:last-child {
  margin-left: 20px;
}
header .nav .end-nav .theme-toggle button {
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
header .nav .end-nav .theme-toggle button:focus {
  outline: 0;
}
header .nav .end-nav .theme-toggle button .circle-toggle {
  border: 2px solid var(--secondarytext-color);
  box-shadow: 0 0 0 2px var(--background-color);
  background-color: var(--toggle-background-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transform: translateX(var(--cricle-toggle-position));
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}
header .nav .end-nav .theme-toggle button .line-toggle {
  background: var(--secondarytext-color);
  width: 30px;
  height: 2px;
  border-radius: 10px;
  margin: 0 2px;
  transform: translateX(var(--line-toggle-position));
  z-index: 1;
  position: absolute;
  right: -10px;
}
@media screen and (max-width: 1024px) {
  header .nav .end-nav {
    display: grid;
    align-items: center;
    justify-self: center;
    width: 100%;
    grid-row-gap: 2rem;
  }
  header .nav .end-nav .theme-toggle {
    justify-self: center;
    grid-column: 1/3;
  }
  header .nav .end-nav .email {
    margin-left: 0;
    grid-row-start: 2;
  }
}
header .nav .email {
  text-transform: initial;
  margin-left: 2.5rem;
  font-size: 0.9rem;
  font-family: "cerebri_sans_proregular";
  letter-spacing: 0px;
}
header .nav .email .email-span {
  font-family: "cerebri_sans_promedium";
  color: var(--primarytext-color);
}
@media screen and (max-width: 1024px) {
  header {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
  }
  header .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
  header .top-menu svg {
    justify-self: start;
  }
  header .top-menu .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  header .top-menu .hamburger {
    display: block;
    cursor: pointer;
  }
  header .top-menu .hamburger .top-line, header .top-menu .hamburger .middle-line, header .top-menu .hamburger .bottom-line {
    width: 25px;
    height: 2px;
    margin: 3px;
    background-color: var(--primarytext-color);
    pointer-events: none;
  }
}
@media screen and (max-width: 1024px) {
  header .nav {
    width: 100%;
    grid-template-columns: 1fr;
    background-color: var(--background-color);
    height: 0;
    overflow: hidden;
  }
  header .nav nav {
    max-width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 5rem;
  }
  header .nav nav a {
    font-size: 1.5rem;
  }
}

footer {
  position: relative;
  padding-bottom: 18rem;
  overflow-x: hidden;
}
footer .footer-horizontal-line {
  width: 60%;
  height: 1px;
  background: #9192A4;
  opacity: 30%;
  margin: 0 auto 6rem;
}
@media screen and (max-width: 1400px) {
  footer .footer-horizontal-line {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  footer .footer-horizontal-line {
    width: 90%;
  }
}
footer .footer-grid-container {
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  footer .footer-grid-container {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  footer .footer-grid-container {
    width: 90%;
  }
}
footer .footer-grid-container .footer-container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
}
@media screen and (max-width: 926px) {
  footer .footer-grid-container .footer-container {
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-grid-container .footer-container {
    grid-template-columns: 1fr 2fr;
    justify-items: center;
  }
}
footer .footer-grid-container .footer-container .footer-logo p {
  font-size: 0.6rem;
  margin-top: 0.2rem;
  color: var(--secondarytext-color);
}
footer .footer-grid-container .footer-container .ready-to-start {
  max-width: 14rem;
}
footer .footer-grid-container .footer-container .ready-to-start h3 {
  font-family: "cerebri_sans_proregular";
  color: var(--primarytext-color);
}
footer .footer-grid-container .footer-container .ready-to-start p {
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  color: var(--secondarytext-color);
}
footer .footer-grid-container .footer-container .ready-to-start a {
  text-transform: uppercase;
  color: var(--primarytext-color);
  padding-bottom: 8px;
  letter-spacing: 2px;
  font-family: "cerebri_sans_pro_boldbold";
}
footer .footer-grid-container .footer-container .ready-to-start a div {
  background: linear-gradient(45deg, #EE0979, #FF6A00);
  background: webkit-linear-gradient(45deg, #EE0979, #FF6A00);
  width: 30px;
  height: 2px;
  transition: ease-in-out 0.3s;
  margin-top: 3px;
}
footer .footer-grid-container .footer-container .ready-to-start a:hover {
  color: var(--primarytext-color);
}
footer .footer-grid-container .footer-container .ready-to-start a:hover div {
  width: 96px;
}
footer .footer-grid-container .footer-container .footer-social {
  justify-self: end;
}
footer .footer-grid-container .footer-container .footer-social a {
  color: var(--primarytext-color);
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .footer-grid-container .footer-container .footer-social a:hover {
  color: var(--secondarytext-color);
}
footer .footer-grid-container .footer-container .footer-social a:nth-child(2) {
  margin: 0 1.5rem;
}
@media screen and (max-width: 768px) {
  footer .footer-grid-container .footer-container .footer-social {
    justify-self: center;
    grid-column: 1/3;
    grid-row-start: 2;
    margin: 4rem 0 3rem;
  }
}
footer svg {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.home {
  letter-spacing: 2px;
}
.home p {
  color: var(--primarytext-color);
}
.home .head {
  display: grid;
  grid-template-columns: 1fr 3fr 1.5fr;
  align-items: center;
  padding: 10rem 3rem 0;
}
.home .head .left-sidebar {
  width: 0;
  justify-self: left;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.home .head .left-sidebar p {
  color: var(--secondarytext-color);
  font-size: 0.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-top: 6rem;
}
.home .head .left-sidebar .social-icons {
  align-self: end;
  display: flex !important;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .home .head .left-sidebar .social-icons {
    display: none;
  }
}
.home .head .left-sidebar .social-icons .linkedin {
  width: 2rem;
  height: 2rem;
}
.home .head .left-sidebar .social-icons .linkedin #linkedin {
  fill: #9192A4;
}
.home .head .left-sidebar .social-icons .linkedin:hover #linkedin {
  fill: url("#iconHover");
}
.home .head .left-sidebar .social-icons .github {
  width: 1.3rem;
  height: 1.3rem;
}
.home .head .left-sidebar .social-icons .github path {
  fill: #9192A4;
}
.home .head .left-sidebar .social-icons .github:hover path {
  fill: url("#iconHover");
}
.home .head .left-sidebar .social-icons .stackoverflow {
  fill: #9192A4;
  width: 1.3rem;
  height: 1.5rem;
}
.home .head .left-sidebar .social-icons .stackoverflow:hover {
  fill: url("#iconHover");
}
.home .head .left-sidebar .social-icons a:nth-child(2) {
  margin: 0.5rem 0;
}
.home .head .landing-section .horizontal-line {
  width: 5rem;
  height: 0.1rem;
  margin-bottom: 3rem;
  background: linear-gradient(45deg, #EE0979, #FF6A00);
  background: webkit-linear-gradient(45deg, #EE0979, #FF6A00);
}
.home .head .landing-section .intro-text {
  letter-spacing: 0;
  max-width: 28rem;
}
.home .head .landing-section .kevin-large {
  width: 100%;
  max-width: 48rem;
  margin: 9rem 1rem;
}
.home .head .landing-section .my-work p {
  font-size: 0.7rem;
  font-family: "cerebri_sans_pro_boldbold";
  text-transform: uppercase;
}
.home .head .landing-section .my-work svg {
  margin-top: 1rem;
}
.home .head .copywrite {
  text-transform: uppercase;
  align-self: end;
  justify-self: end;
}
.home .head .copywrite p {
  font-family: "cerebri_sans_promedium";
  font-size: 0.6rem;
}
.home #particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}
.home .selected-projects .selected-grid-container {
  width: 60%;
  margin: 8rem auto;
}
@media screen and (max-width: 1400px) {
  .home .selected-projects .selected-grid-container {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .home .selected-projects .selected-grid-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-grid-container {
    width: 100%;
    margin: 8rem auto 3rem;
  }
}
.home .selected-projects .selected-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 130px));
  grid-template-rows: repeat(9, 130px);
  grid-gap: 100px;
}
@media screen and (max-width: 1400px) {
  .home .selected-projects .selected-container {
    grid-gap: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .home .selected-projects .selected-container {
    grid-gap: 65px;
  }
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(13, 130px);
    grid-gap: 25px;
  }
}
.home .selected-projects .selected-container div {
  cursor: pointer;
}
.home .selected-projects .selected-container div:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
.home .selected-projects .selected-container div:first-child .intro-text {
  text-align: right;
  max-width: 18rem;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:first-child .intro-text {
    margin-right: 10%;
  }
}
.home .selected-projects .selected-container div:first-child .intro-text p:first-child {
  font-size: 0.6rem;
  color: var(--secondarytext-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.home .selected-projects .selected-container div:first-child .intro-text p:last-child {
  color: var(--primarytext-color);
  letter-spacing: 0;
  font-family: "butlermedium";
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.home .selected-projects .selected-container div:nth-child(2) {
  grid-column: 3/7;
  grid-row: 1/4;
}
.home .selected-projects .selected-container div:nth-child(2) div {
  height: 100%;
  width: 100%;
  background-color: #F93822;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(1, 0.01, 0.63, 0.9);
  position: relative;
  overflow: hidden;
}
.home .selected-projects .selected-container div:nth-child(2) div img {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20%;
}
.home .selected-projects .selected-container div:nth-child(2) div div {
  background-color: #3E3E3E;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
.home .selected-projects .selected-container div:nth-child(2) div:hover div {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/5;
  }
}
.home .selected-projects .selected-container div:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2/5;
}
.home .selected-projects .selected-container div:nth-child(3) div {
  background-color: #9192A4;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 5/8;
  }
}
.home .selected-projects .selected-container div:nth-child(4) {
  grid-column: 3/7;
  grid-row: 4/6;
}
.home .selected-projects .selected-container div:nth-child(4) div {
  background-color: #00252e;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(1, 0.01, 0.63, 0.9);
  position: relative;
  overflow: hidden;
}
.home .selected-projects .selected-container div:nth-child(4) div img {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20%;
}
.home .selected-projects .selected-container div:nth-child(4) div div {
  background-color: #ff52bf;
  position: absolute;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
}
.home .selected-projects .selected-container div:nth-child(4) div:hover div {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 10/13;
  }
}
.home .selected-projects .selected-container div:nth-child(5) {
  grid-column: 1/3;
  grid-row: 5/7;
}
.home .selected-projects .selected-container div:nth-child(5) .testimonial {
  max-width: 15rem;
  text-align: right;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(5) .testimonial {
    max-width: 25rem;
    padding-right: 10%;
  }
}
@media screen and (max-width: 515px) {
  .home .selected-projects .selected-container div:nth-child(5) .testimonial {
    max-width: 25rem;
    margin: 0 10%;
    padding-right: 0;
  }
}
.home .selected-projects .selected-container div:nth-child(5) .testimonial h3 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: var(--primarytext-color);
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(5) .testimonial h3 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(5) .testimonial h3 {
    font-size: 2.5rem;
  }
}
.home .selected-projects .selected-container div:nth-child(5) .testimonial quote {
  letter-spacing: 0;
  color: var(--secondarytext-color);
  font-size: 1rem;
}
.home .selected-projects .selected-container div:nth-child(5) .testimonial p {
  margin-top: 2rem;
  font-family: "cerebri_sans_pro_boldbold";
  font-size: 0.8rem;
  letter-spacing: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(5) {
    grid-column: 1/2;
    grid-row: 8/9;
  }
}
.home .selected-projects .selected-container div:nth-child(6) {
  grid-column: 1/4;
  grid-row: 7/10;
}
.home .selected-projects .selected-container div:nth-child(6) .forth-project {
  background-color: #9192A4;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(6) {
    display: none;
  }
}
.home .selected-projects .selected-container div:nth-child(7) {
  grid-column: 4/7;
  grid-row: 6/9;
}
.home .selected-projects .selected-container div:nth-child(7) div {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(45deg, #EE0979, #FF6A00);
  background-image: webkit-linear-gradient(45deg, #EE0979, #FF6A00);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(1, 0.01, 0.63, 0.9);
  position: relative;
  overflow: hidden;
}
.home .selected-projects .selected-container div:nth-child(7) div img {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20%;
}
.home .selected-projects .selected-container div:nth-child(7) div div {
  background: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}
.home .selected-projects .selected-container div:nth-child(7) div:hover div {
  transform: translateX(0);
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:nth-child(7) {
    display: none;
  }
}
.home .selected-projects .selected-container div:last-child {
  grid-column: 4/7;
  grid-row-start: 9;
  align-self: end;
}
.home .selected-projects .selected-container div:last-child .see-all a {
  text-transform: uppercase;
  color: var(--primarytext-color);
  padding-bottom: 8px;
  font-family: "cerebri_sans_pro_boldbold";
}
.home .selected-projects .selected-container div:last-child .see-all a div {
  background: linear-gradient(45deg, #EE0979, #FF6A00);
  background: webkit-linear-gradient(45deg, #EE0979, #FF6A00);
  width: 30px;
  height: 2px;
  transition: ease-in-out 0.3s;
  margin-top: 3px;
}
.home .selected-projects .selected-container div:last-child .see-all a:hover {
  color: var(--primarytext-color);
}
.home .selected-projects .selected-container div:last-child .see-all a:hover div {
  width: 124px;
}
@media screen and (max-width: 768px) {
  .home .selected-projects .selected-container div:last-child {
    grid-column: 1/2;
    grid-row-start: 13;
    align-self: center;
    justify-self: center;
  }
}

.contact .get-in-touch {
  padding: 6rem 0;
}
.contact .get-in-touch .container {
  background-color: var(--background-color);
  max-width: 60%;
  margin: 0 auto;
  box-shadow: var(--contact-shadow);
  -webkit-box-shadow: var(--contact-shadow);
  -moz-box-shadow: var(--contact-shadow);
  padding: 3rem 4rem 4rem;
}
@media screen and (max-width: 1400px) {
  .contact .get-in-touch .container {
    max-width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .contact .get-in-touch .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 940px) {
  .contact .get-in-touch .container {
    max-width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .contact .get-in-touch .container {
    padding: 3rem 2rem 4rem;
  }
}
.contact .get-in-touch .container .intro {
  text-align: center;
  max-width: 22rem;
  width: 100%;
  margin: 0 auto;
}
.contact .get-in-touch .container .intro h1 {
  font-family: "cerebri_sans_promedium";
  color: var(--primarytext-color);
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
.contact .get-in-touch .container .intro p {
  font-size: 0.8rem;
  color: var(--secondarytext-color);
}
.contact .get-in-touch .container .contact-info {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-top: 4rem;
}
@media screen and (max-width: 840px) {
  .contact .get-in-touch .container .contact-info {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 840px) {
  .contact .get-in-touch .container .contact-info .contact-detail {
    grid-row-start: 2;
    margin-top: 5rem;
  }
}
.contact .get-in-touch .container .contact-info .contact-detail .contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contact .get-in-touch .container .contact-info .contact-detail .contacts svg:nth-child(2) {
  margin: 1.5rem 0;
}
.contact .get-in-touch .container .contact-info .contact-detail .contacts text {
  font-family: "cerebri_sans_proregular";
}
.contact .get-in-touch .container .contact-info .contact-detail .contacts g {
  color: var(--secondarytext-color);
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons {
  align-self: end;
  display: flex !important;
  justify-self: center;
  align-items: center;
  transform: translateX(-6px);
}
@media screen and (max-width: 1024px) {
  .contact .get-in-touch .container .contact-info .contact-detail .social-icons {
    display: none;
  }
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .linkedin {
  width: 2rem;
  height: 2rem;
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .linkedin #linkedin {
  fill: #9192A4;
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .linkedin:hover #linkedin {
  fill: var(--primarytext-color);
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .github {
  width: 1.3rem;
  height: 1.3rem;
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .github path {
  fill: #9192A4;
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .github:hover path {
  fill: var(--primarytext-color);
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .stackoverflow {
  fill: #9192A4;
  width: 1.3rem;
  height: 1.5rem;
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons .stackoverflow:hover {
  fill: var(--primarytext-color);
}
.contact .get-in-touch .container .contact-info .contact-detail .social-icons a:nth-child(2) {
  margin: 0 0.7rem 0 0.4rem;
}
.contact .get-in-touch .container .contact-info .contact-form {
  letter-spacing: 2px;
}
.contact .get-in-touch .container .contact-info .contact-form form {
  display: grid;
}
.contact .get-in-touch .container .contact-info .contact-form form .name, .contact .get-in-touch .container .contact-info .contact-form form .phone {
  margin-right: 15px;
  margin-bottom: 45px;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .name, .contact .get-in-touch .container .contact-info .contact-form form .phone {
    margin-right: 0;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form .email, .contact .get-in-touch .container .contact-info .contact-form form .subject {
  margin-left: 15px;
  margin-bottom: 45px;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .email, .contact .get-in-touch .container .contact-info .contact-form form .subject {
    margin-left: 0;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form .email {
  grid-row-start: 1;
  grid-column-start: 2;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .email {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form .phone {
  grid-row-start: 2;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .phone {
    grid-row-start: 3;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form .subject {
  grid-row-start: 2;
  grid-column-start: 2;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .subject {
    grid-column-start: 1;
    grid-row-start: 4;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form .message {
  grid-column: 1/3;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form .message {
    grid-column: 1/1;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form div {
  position: relative;
}
.contact .get-in-touch .container .contact-info .contact-form form div .floating-label {
  transition: 0.3s ease-in-out;
}
.contact .get-in-touch .container .contact-info .contact-form form div input, .contact .get-in-touch .container .contact-info .contact-form form div textarea {
  border: none;
  border-bottom: 1px solid var(--secondarytext-color);
  background: var(--background-color);
  padding: 0 0 0.8rem;
  font-family: "cerebri_sans_promedium";
  font-size: 1rem;
  width: 100%;
}
@media screen and (max-width: 568px) {
  .contact .get-in-touch .container .contact-info .contact-form form div input, .contact .get-in-touch .container .contact-info .contact-form form div textarea {
    margin: 0;
  }
}
.contact .get-in-touch .container .contact-info .contact-form form div input:focus, .contact .get-in-touch .container .contact-info .contact-form form div textarea:focus {
  outline: 0;
}
.contact .get-in-touch .container .contact-info .contact-form form div input:focus ~ .floating-label, .contact .get-in-touch .container .contact-info .contact-form form div textarea:focus ~ .floating-label {
  top: -25px;
}
.contact .get-in-touch .container .contact-info .contact-form form div input:not(:placeholder-shown) ~ .floating-label, .contact .get-in-touch .container .contact-info .contact-form form div textarea:not(:placeholder-shown) ~ .floating-label {
  top: -25px;
}
.contact .get-in-touch .container .contact-info .contact-form form div ::-webkit-input-placeholder {
  opacity: 0;
}
.contact .get-in-touch .container .contact-info .contact-form form div :-ms-input-placeholder {
  opacity: 0;
}
.contact .get-in-touch .container .contact-info .contact-form form div ::placeholder {
  opacity: 0;
}
.contact .get-in-touch .container .contact-info .contact-form form div span {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--secondarytext-color);
  font-family: "cerebri_sans_proregular";
  font-size: 0.66rem;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.contact .get-in-touch .container .contact-info .contact-form form div textarea {
  height: 6rem;
  resize: none;
}
.contact .get-in-touch .container .contact-info .contact-form form .submit-button {
  display: block;
  position: relative;
  color: var(--background-color);
  background-color: var(--primarytext-color);
  border: none;
  padding: 1.2rem 1.8rem;
  margin-top: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "cerebri_sans_promedium";
  font-size: 0.7rem;
  letter-spacing: 2px;
  grid-column-start: 1;
  width: 8rem;
  height: 3.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}
.contact .get-in-touch .container .contact-info .contact-form form .submit-button span {
  color: var(--background-color);
}
.contact .get-in-touch .container .contact-info .contact-form form .submit-button .hide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 250%);
}
.contact .get-in-touch .container .contact-info .contact-form form .submit-button .show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact .information {
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 6rem;
}
@media screen and (max-width: 1024px) {
  .contact .information {
    max-width: 80%;
  }
}
@media screen and (max-width: 590px) {
  .contact .information {
    display: block;
  }
  .contact .information .privacy {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 568px) {
  .contact .information {
    max-width: 70%;
  }
}
.contact .information h3 {
  font-family: "cerebri_sans_proregular";
  font-size: 1rem;
  color: var(--primarytext-color);
}
.contact .information p {
  font-size: 0.7rem;
  color: var(--secondarytext-color);
  margin: 0.5rem 0 1.2rem;
}
.contact .information a {
  color: var(--primarytext-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6rem;
}
.contact .information a:hover {
  color: var(--secondarytext-color);
}
.contact #particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 868px) {
  .contact #particles-js {
    height: 139%;
  }
}
@media screen and (max-width: 590px) {
  .contact #particles-js {
    height: 172%;
  }
}
.contact input::-webkit-outer-spin-button,
.contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact input[type=number] {
  -moz-appearance: textfield;
}

.thank-you .get-in-touch .container .intro {
  max-width: 30rem;
}
.thank-you .get-in-touch .container .intro p {
  max-width: 24rem;
  margin: 0 auto;
}
.thank-you .get-in-touch .container .contact-info {
  grid-template-columns: 1fr;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}
.thank-you .get-in-touch .container .contact-info p {
  font-size: 0.8rem;
  color: var(--secondarytext-color);
}
.thank-you .get-in-touch .container .contact-info .contact-checkout {
  margin-bottom: 6rem;
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 540px) {
  .thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site {
    flex-direction: column;
  }
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button {
  display: block;
  position: relative;
  color: var(--background-color);
  background-color: var(--primarytext-color);
  border: none;
  padding: 1.2rem 1.8rem;
  margin-top: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "cerebri_sans_promedium";
  font-size: 0.7rem;
  letter-spacing: 2px;
  grid-column-start: 1;
  width: 8rem;
  height: 3.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}
@media screen and (max-width: 540px) {
  .thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button {
    margin: 2rem auto 0;
  }
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button span {
  color: var(--background-color);
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button span svg path {
  fill: var(--background-color);
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button .hide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 200%);
}
.thank-you .get-in-touch .container .contact-info .contact-checkout .checkout-site .submit-button .show {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.thank-you .get-in-touch .container .contact-info .contact-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .thank-you .get-in-touch .container .contact-info .contact-detail {
    margin-top: 0;
  }
}
@media screen and (max-width: 350px) {
  .thank-you .get-in-touch .container .contact-info .contact-detail {
    flex-direction: column;
    align-items: start;
  }
  .thank-you .get-in-touch .container .contact-info .contact-detail .social-icons {
    margin-top: 2rem;
  }
}
.thank-you .get-in-touch .container .contact-info .contact-detail .contacts {
  margin-bottom: 0;
}
.thank-you .get-in-touch .container .contact-info .contact-detail .social-icons {
  align-self: auto;
}

.faqs .items-container, .privacy-policy .items-container {
  max-width: 55rem;
  margin: 0 auto;
}
.faqs .items-container .item h2, .privacy-policy .items-container .item h2 {
  font-family: "cerebri_sans_promedium";
  font-size: 1.4rem;
  margin: 4rem 0 2rem;
  color: var(--primarytext-color);
}
.faqs .items-container .item p, .privacy-policy .items-container .item p {
  color: var(--secondarytext-color);
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
